<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Cadastro
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">

  <form color="dark">
      <ion-item color="dark">
        <ion-label position="stacked">NOME</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-item color="dark">
        <ion-label position="stacked">TELEFONE </ion-label>
        <ion-input type="numeric" ></ion-input>
      </ion-item>
      
      <ion-item color="dark">
        <ion-label position="stacked">ENDEREÇO</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-item color="dark">
        <ion-label position="stacked">BAIRRO</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-item color="dark">
        <ion-label position="stacked">CIDADE</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-item color="dark">
        <ion-label Attribute="autocomplete" Type="On" position="stacked">E-MAIL</ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>

      <ion-item color="dark">
        <ion-label position="stacked">SENHA</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>

      <ion-item color="dark">
        <ion-label position="stacked">CONFIRMAR SENHA</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>

    <div class="ion-padding">

      <ion-button size="small" type="submit"  color="danger">CANCELAR</ion-button>

      <ion-button size="small" type="submit" color="danger">SALVAR</ion-button>
    </div>
    
  </form>

</ion-content>