<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Contato
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen color="dark">
      <ion-card color="dark">
        <ion-card-header>
        <ion-card-title>BARBEARIA VALTENIS</ion-card-title>
        <ion-card-subtitle></ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <p>Horário de funcionamento:</p>
          <p>Segunda a Sabádo</p>
          <p>Das 08:00 as 11:00 & 13:00 as 19:00</p>
        </ion-card-content>
      </ion-card>

      <ion-item-sliding>
    <ion-item color="dark">
      <ion-label>
        <div>
          <h2>Endereço</h2>
          <h3>Rua João Morelato, 621</h3>
          <h3>Sonho Nosso V</h3>
          <h3>Barra Bonita-SP</h3>
          <h3>CEP 17340-000</h3>

        </div>
      </ion-label>
      <ion-thumbnail slot="start">
        <img src="https://scontent.fbau3-1.fna.fbcdn.net/v/t1.0-9/17457264_1278559098899775_1903789968388111037_n.jpg?_nc_cat=103&_nc_sid=8bfeb9&_nc_ohc=-nt4QLgthPIAX-T20Mg&_nc_ht=scontent.fbau3-1.fna&oh=08453f91c52ab4b7357669d56622cb6e&oe=5ECA76A4">
      </ion-thumbnail>
    </ion-item>
  </ion-item-sliding>

    <div>

          <div class="service-icon">
            <img src="\assets\icon\wp512.png">
          </div>

          <div class="service-icon">
            <img src="\assets\icon\fb512.png">
          </div>

          <div class="service-icon">
            <img src="\assets\icon\tf512.png">
          </div>

    </div>

</ion-content>
