<ion-app color="dark">
  <ion-split-pane contentId="main-content" color="dark">
    <ion-menu contentId="main-content" type="overlay" color="dark">
      <ion-content color="dark">
        <ion-list id="inbox-list" color="dark">
          <ion-list-header color="dark">Menu</ion-list-header>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index" color="dark">
            <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex == i" color="dark">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
  </ion-split-pane>
</ion-app>
